{{ define "home" }}

{{ template "layout.start" . }}

<section>
    <h2>Latest Posts</h2>
    {{ if .posts }}
    {{ range $post := .posts }}
    <article>
        <h3 style="color: #7c7c7c">{{ $post.Title }}</h3>
        <p>
            {{ $post.Excerpt }}&nbsp;
            <a hx-headers="js:{'X-TimeZone': Intl.DateTimeFormat().resolvedOptions().timeZone}"
                style="font-style: italic; text-decoration: none;" href="/post/{{ $post.ID }}"
                hx-swap="transition:true">
                read more…
            </a>
        </p>
    </article>
    {{ end }}
    {{ else }}
    <h5 style="color: #1644a8; text-align: center;">There are no Posts</h5>
    {{ end }}
</section>

{{ template "layout.end" . }}

{{ end }}